@model Parcial2_RodriguezCardonaJuanSebastian.DAL.Entities.ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<div>
    <partial name="../Shared/PartialViews/_DetailsTicket.cshtml" />
</div>

<div>
    <a asp-action="GetEntrance" asp-route-Id="@Model?.Id" class="btn btn-outline-primary">Ingreso</a>
    <a asp-action="Index" asp-route-Id="@Model?.Id" class="btn btn-outline-success">Regresar</a>
</div>
</div>
